        <!-- Navbar layout from Bootstrap 5.0 -->
        <nav class="navbar navbar-expand-md navbar-light bg-light header-nav__top">
            <div class="container-fluid">
                <div class="navbar-brand" onclick="window.scrollTo({top: 0});">Bubs Hikes The <%- trailData.trailShortName %></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-alt-markup" aria-controls="navbar-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-alt-markup">
                <div class="navbar-nav">
                    <div class="dropdown">
                        <a class="nav-link header-nav-item header-nav-item-about dropdown-toggle" href="#" role="button" id="dropdown-menu-link" data-bs-toggle="dropdown" aria-expanded="false">
                           <svg class="d-none d-sm-block header-nav-item__icon" fill="#000000" xmlns="http://www.w3.org/2000/svg" 
                          width="16px" height="16px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
                     <path d="M27.8,2c3.3,0,5.9,2.6,5.9,5.9s-2.7,5.9-5.9,5.9s-5.9-2.6-5.9-5.9S24.5,2,27.8,2z"/>
                     <path d="M43,18.1c-1.2-0.1-2.3,0.7-2.4,1.8L40,25.7c-0.2,0-0.3,0.3-0.5,0.3h-5.5l-3.8-6.7c-0.3-0.6-0.9-1.1-1.6-1.2
                         l-5.8-0.8c-1-0.1-2,0.4-2.4,1.4l-4.4,11.3c-0.3,0.9,0.1,1.8,0.9,2.3l10.8,7.4l0.9,8.4c0.1,1.1,1.1,1.9,2.2,1.9l0,0
                         c1.3,0,2.3-1,2.2-2.2L32,37.5c0-0.5-0.3-1-0.8-1.4l-5.9-6.6l2.2-5.4l2.6,4.5c0.4,0.6,1.1,1.3,1.9,1.3h7.6l-2.2,18
                         c-0.1,1.1,0.7,2,1.9,2.1c0.1,0,0.2-0.1,0.2-0.1c1.1,0,2-0.8,2.2-1.9L45,20.2C45.1,19.2,44.2,18.2,43,18.1z"/>
                     <path d="M12.2,27.7l3.7-9.5c0.2-0.6,0.5-1.2,0.9-1.8l-0.5-0.1c-3.2-0.4-6.2,1.5-7.2,4.4l-2,5.2
                         c-0.4,1.1,0.2,2.4,1.4,2.7l0.9,0.2C10.6,29.3,11.8,28.7,12.2,27.7z"/>
                     <path d="M13.6,35.2L9.1,48.6c-0.2,0.7,0.3,1.3,1,1.3h2.5c0.9,0,1.8-0.6,2.1-1.4l4.4-9.7l-5-3.1
                         C14,35.5,13.8,35.3,13.6,35.2z"/>
                     </svg>
                     Trails
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu-link">
                            <li><a class="dropdown-item" href="/trail/AT">Appalachian Trail</a></li>
                          <li><a class="dropdown-item" href="/trail/PCT">Pacific Crest Trail</a></li>
                          <li><a class="dropdown-item" href="/trail/CDT">Continental Divide Trail</a></li>
                        </ul>
                      </div>
                      <!-- document.getElementById("about").scrollIntoView({behavior: "smooth", block: "nearest"}) -->
                    <span class="nav-link header-nav-item header-nav-item-about" onclick='window.scrollTo(0,949)'><svg class="d-none d-sm-block header-nav-item__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>About</span>
                    <!-- because of auto sizing for instagram, need to scroll to pixel document.getElementById("lighter-pack").scrollIntoView({behavior: "smooth", block: "center"}) -->
                    <span class="nav-link header-nav-item header-nav-item-about" onclick="window.scrollTo(0,4616)"><svg class="d-none d-sm-block header-nav-item__icon" width="16" height="16" viewBox="-64 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M80.95 472.23c-4.28 17.16 6.14 34.53 23.28 38.81 2.61.66 5.22.95 7.8.95 14.33 0 27.37-9.7 31.02-24.23l25.24-100.97-52.78-52.78-34.56 138.22zm14.89-196.12L137 117c2.19-8.42-3.14-16.95-11.92-19.06-43.88-10.52-88.35 15.07-99.32 57.17L.49 253.24c-2.19 8.42 3.14 16.95 11.92 19.06l63.56 15.25c8.79 2.1 17.68-3.02 19.87-11.44zM368 160h-16c-8.84 0-16 7.16-16 16v16h-34.75l-46.78-46.78C243.38 134.11 228.61 128 212.91 128c-27.02 0-50.47 18.3-57.03 44.52l-26.92 107.72a32.012 32.012 0 0 0 8.42 30.39L224 397.25V480c0 17.67 14.33 32 32 32s32-14.33 32-32v-82.75c0-17.09-6.66-33.16-18.75-45.25l-46.82-46.82c.15-.5.49-.89.62-1.41l19.89-79.57 22.43 22.43c6 6 14.14 9.38 22.62 9.38h48v240c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16V176c.01-8.84-7.15-16-15.99-16zM240 96c26.51 0 48-21.49 48-48S266.51 0 240 0s-48 21.49-48 48 21.49 48 48 48z"/>
                    </svg>Gear</span>
                    <!-- document.getElementById("instagram").scrollIntoView({behavior: "smooth", block: "nearest"}) -->
                    <span class="nav-link header-nav-item header-nav-item-about" onclick='window.scrollTo(0,2763)'><svg class="d-none d-sm-block header-nav-item__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                    </svg>Instagram</span>
                    <!-- document.getElementById("map").scrollIntoView({behavior: "smooth", block: "nearest"}) -->
                    <span class="nav-link header-nav-item header-nav-item-about" onclick='window.scrollTo(0,5534)'><svg class="d-none d-sm-block header-nav-item__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                    <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                    </svg>Mapshare</span>
                </div>
                </div>
            </div>
        </nav>