<div class="col-12 section-title">
    <h1>The Where Is He Now</h1>
</div> 
<div class="section__overflow section__overflow-hidden">
    <div id="instagram-data_container" class="d-flex flex-row flex-wrap justify-content-center">
        <div class="col-12 col-lg-6 col-md-4 section-map"> 
            <div id="svg-place-holder"> 
            </div> 
        </div> 
        <div id="instagram-carousel" class="col-12 col-lg-6 col-md-8 mt-4 mt-md-0 section-instagram-posts carousel slide" data-ride="carousel"> 
            <div class="carousel-inner"></div>
            <div class="section-instagram-caption carousel-caption d-none d-md-block"></div> 
            <button class="carousel-control-prev" type="button" data-bs-target="#instagram-carousel" data-bs-slide="prev"> 
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                <span class="visually-hidden">
                    Previous
                </span> 
            </button> 
            <button class="carousel-control-next" type="button" data-bs-target="#instagram-carousel" data-bs-slide="next"> 
                <span class="carousel-control-next-icon" aria-hidden="true"></span> 
                <span class="visually-hidden">
                    Next
                </span> 
            </button> 
        </div>
        
        <p class="mt-3 col-12">
            If the images above did not load, or you would like to see more pictures of Bubs journey, visit/follow him on Instagram 
            <a href="https://www.instagram.com/mercier.les/" target="_blank">@mercier.les</a>
        </p>

    </div>
</div>