<div class="row section-title">
    <h1 id="lighter-pack-title" class="col-12">Lighter Pack Gear List</h1>
</div>

<div class="section__overflow section__overflow-hidden">
    <div id="fitbit-data_container">
        <div class="row justify-content-center mb-5">
            <label class="col-auto font-weight-bold" for="lighter-pack-url">Select Pack List:</label>
            <select id="lighter-pack-url" class="col-auto">
            </select>
        </div>
        <div class="row">
            <div id="lighter-pack-data" class="col-12">
            </div>
        </div>
    </div>
</div>