<div class="row section-title">
    <h1 id="lighter-pack-title" class="col-12">Lighter Pack Gear List</h1>
</div>
<div class="row justify-content-center mb-5">
    <label class="col-auto font-weight-bold" for="lighter-pack-url">Select Pack List:</label>
    <select id="lighter-pack-url" class="col-auto">
        <!-- <option value="https://lighterpack.com/r/c0z1be">Full Pack</option>
        <option value="https://lighterpack.com/r/gypdcw">Pre Kennedy Meadows</option>
        <option value="https://lighterpack.com/r/xrbf9u">High Sierra</option> -->
    </select>
</div>
<div class="row section__overflow section__overflow-hidden">
    <div id="lighter-pack-data" class="col-12">
       
    </div>
</div>
