<div class="row section-title">
    <h1 id="lighterPack-title" class="col-12">Lighter Pack Gear List</h1>
</div>
<div class="row justify-content-center mb-5">
    <label class="col-auto font-weight-bold" for="lighterPackURL">Select Pack List:</label>
    <select id="lighterPackURL" class="col-auto">
        <option value="https://lighterpack.com/r/c0z1be">Full Pack</option>
        <option value="https://lighterpack.com/r/gypdcw">Pre Kennedy Meadows</option>
        <option value="https://lighterpack.com/r/xrbf9u">High Sierra</option>
    </select>
    <script>
        jQuery("#lighterPackURL").change(function(){
            jQuery("#lighterPackData").empty();
            jQuery("#lighterPack .section__show-more").remove();
            lighterPackInit(this.value);
        });
    </script>
</div>
<div class="row section__overflow section__overflow-hidden">
    <div id="lighterPackData" class="col-12">
       
    </div>
</div>
