<div class="section-title">
    <h1>Recent Location Data & Additional Info</h1>
</div> 
<div class="section__overflow section__overflow-hidden">
    <div id="map-data_container">
        <p>
            Use the Map below to see the path Bubs took during his Treks
        </p> 

    <!-- ArcGIS Pro script loading -->
        <div id="arcgis-container" style="height: 55vh; margin: 0; padding:0; max-height: 600px;">
        </div>

    <!-- Garmin Map, instead of ArcGIS Map -->
        <!-- <iframe id="garminMap" class="section-mapshare__iframe" src="https://share.garmin.com/bubs"  frameborder="0" marginwidth="0" marginheight="0" width="810" height="760"></iframe>  -->
    </div>
</div>