<div class="section-title">
    <h1>Recent Garmin Mapshare & Additional Info</h1>
</div> 
<p>
    While you will not see Bubs exact location, you may use the below to see his last check in! 
    </br> He will be carrying a Garmin Mini Inreach 2, and will periodically send location data to be updated below
</p> 

<iframe id="garminMap" class="section-mapshare__iframe" src="https://share.garmin.com/bubs"  frameborder="0" marginwidth="0" marginheight="0" width="810" height="760"></iframe> 