<div class="section-title">
    <h1>The What</h1>
</div>
<div class="section__overflow section__overflow-hidden">
    <div id="trail-info-data_container">
        <img class="section-trail__img" src="" alt="Trail Logo">
        <div>Click for more info on the <a id="trailURL" target="_blank"></a></div>
        <p class="section-trail__paragraph"></p>
    </div>
</div>