<div class="section-title">
    <h1>The What</h1>
</div>
<img class="section-trail__img" src="" alt="Thru Hiking Image">
<!-- <img class="section-trail__img" src="https://continentaldividetrail.org/wp-content/uploads/2022/07/cdtc-logo.png"> -->

<p class="section-trail__paragraph">
    <!-- Having Completed the Appalachian Trail, known as the "AT", in 2018 and finally summiting Mt. Katahdin for the first time, Bubs will now set off to hike the Pacific Crest Trail; a 2650 mile journey starting from the California/Mexico border and finishing at the Washington/Canada border. He will travel over 600 miles of desert-like conditions, across the High Sierras with mountains 14k feet high, snowy terrain, high rivers, and the rainy state of Washington. -->
</p>